<h3>7</h3>
<p>You run onto the main road and hide in an alley until things get quiet then continue running and get you find the police station nearest to you.</p>
<p>Once you arrive you quickly tell your story. Thirty minutes later the police sergeant returns looking happy with himself.
    He tells you that you were the bait in a drug bust and now you are a key person in the crime of the year.</p>
<p>THE END</p>
<h3><a href="{{ path('insead_gamebook_chap_1') }}">Restart reading The Red Letter</a></h3>