<h3>5</h3>
<p>You decide to stand your ground. The car is getting dangerously close to you. Five seconds feels like it has been an hour.</p>
<p>The car is getting nearer and you are regretting your decision. You can now see the red hood of the car coming towards you.</p>
<p>Just as you get ready for the numbing pain of the car hitting you it screeches to a stop. A suited man comes out of the car and he is holding a hand gun. <em>“Where is the money?”</em> the man shouts at you.</p>
<h3><a href="{{ path('insead_gamebook_chap_7') }}">Run away</a></h3>
<h3><a href="{{ path('insead_gamebook_chap_9') }}">XXX</a></h3>