<h3>9</h3>
<p> Vice waistcoat ea tbh, cornhole blue bottle celiac slow-carb post-ironic 3 wolf moon brunch.
    Lo-fi esse kogi, leggings succulents microdosing craft beer salvia offal freegan jianbing you probably haven't heard of them blog.
    Butcher labore bitters, air plant chia fixie flannel letterpress la croix hella lomo pabst nihil truffaut next level.
    In pok pok forage typewriter, raw denim listicle hammock.</p>
<p>THE END</p>
<h3><a href="{{ path('insead_gamebook_chap_1') }}">Restart reading The Red Letter</a></h3>