<h3>2</h3>
<p>You decide that it is too suspicious and you choose to go inside. Half way up the drive you slip and fall head first on a rock.</p>
<p>No one knows what happened to your body. Did the writer of the letter take over it somehow?</p>
<p>THE END</p>
<h3><a href="{{ path('insead_gamebook_chap_1') }}">Go back to chapter 1 to find out</a></h3>
