<h3>1</h3>
<p>After a long hard day at your boring office job you arrive at home. Before you walk into your house you see a letter in your mailbox,
    an unusual occurrence as bill day is Thursday not Monday.</p>
<p>You go up to the mailbox and see that there is a little red letter—quite suspicious.</p>

<h3><a href="{{ path('insead_gamebook_chap_3') }}">Open mail</a></h3>
<h3><a href="{{ path('insead_gamebook_chap_2') }}">Go inside</a></h3>