<h3>6</h3>
<p>You decide to run away. In the distance you hear a car. Its headlights are getting closer.
    You take a left turn into a dark alleyway and end up behind a small boat house.
    You see the car speed past you and you decide to flank it.</p>
<p>You run onto the main road and lose it. It only took you ten minutes to find the police station nearest to you.</p>
<p>Once you arrive you quickly tell your story. Thirty minutes later the police sergeant returns looking happy with himself.
    He tells you that you were the bait in a drug bust and now you are a key person in the crime of the year.</p>
<p>THE END</p>
<h3><a href="{{ path('insead_gamebook_chap_1') }}">Restart reading The Red Letter</a></h3>





 


