{% extends 'base.html.twig' %}

{% block body %}
    <h1>The Red Letter</h1><br>
    <h3>by Ben Wreford, Grade 9, WA.</h3>

    <h2>Introduction</h2>
    <p>Ex seitan distillery woke. Chicharrones iceland salvia kitsch austin, four dollar toast swag.
        Hella farm-to-table neutra, echo park ramps skateboard franzen mlkshk you probably haven't heard of them marfa blue bottle aliqua pug pork belly.
        Beard officia meditation, salvia tbh cold-pressed typewriter accusamus photo booth assumenda prism mustache fugiat.
        Ugh bushwick cliche paleo. Nulla blue bottle green juice shabby chic snackwave. Quinoa deserunt normcore mlkshk, pinterest tumeric health goth wayfarers sed pitchfork.</h2>
    <h2>Rules</h2>
    <p>Ex seitan distillery woke. Chicharrones iceland salvia kitsch austin, four dollar toast swag.
        Hella farm-to-table neutra, echo park ramps skateboard franzen mlkshk you probably haven't heard of them marfa blue bottle aliqua pug pork belly.
        Beard officia meditation, salvia tbh cold-pressed typewriter accusamus photo booth assumenda prism mustache fugiat.
        Ugh bushwick cliche paleo. Nulla blue bottle green juice shabby chic snackwave. Quinoa deserunt normcore mlkshk, pinterest tumeric health goth wayfarers sed pitchfork.</h2>
    <h3><a href="{{ path('insead_gamebook_chap_1') }}">Start reading</a></h3>
{% endblock %}

